<div class="build-resume">
    <div class="build-head">
        <h1 class="build-header">
            Good Resume can help you to achieve significant milestone in your career.
        </h1>
    </div>
    <div class="built-btn">
        <button class="res-build-btn">BUILD YOURS</button>
    </div>
</div>