<div class=" row creation">
    <div class="col-6 suggestions">
        <div class="suggestion">
            <svg class="correct-icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="DoneIcon"><path d="M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg>
            <div class="create-dep">
                <h4 class="create-head">Create Instantly</h4>
                <p class="create-cnt">Highlight relevant skills and experience with exclusive resume template.</p>
            </div>
        </div>
        <div class="download">
            <svg class="correction-icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="DoneIcon"><path d="M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg>
            <div class="download-dep">
                <h4 class="free-download">Free to use & Download</h4>
                <p class="free-cnt">Secure your ideal job with assistance from our free resume builder tool.</p>
            </div>
        </div>
        <div class="templates">
            <svg class="corrects-icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="DoneIcon"><path d="M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg>
            <div class="temp-dep">
                <h4 class="template-head">Professional Templates</h4>
                <p class="temp-cnt">Modern Templates which create your visibility in crisp, concise and clean manner for relevant Employers.</p>
            </div>
        </div>
    </div>
    
    <div class="col-6 joy">
        <img src="/assets/images/joy.png" width="100%">
    </div>
</div>