<div class="row index w-100" style="height:100vh align-items:center">
    <div class="col-6 intro">
        <h1 class="resume">
            InstaResume, your free resume maker, makes it easy to sparkle in your
            <span
                style="border-top: none;border-right: 3px solid rgb(251, 176, 59);border-bottom: 3px solid rgb(251, 176, 59);border-left: none;border-image: initial;padding-right: 10px;border-radius: 0px 0px 10px;">career</span>
        </h1>
        <h2 class="heading">Try now our free resume builder to discover your dream job with reliable resume templates having
            professional and modern touch.
        </h2>
        <div class="btn-div">
            <button class="btn create-free">CREATE RESUME I'TS FREE</button>
        <button class="btn explore">EXPLORE TEMPLATES</button>
        </div>
    </div>
    <div class="col-6 img">
        <img src="../../assets/images/person.webp" width="100%">
    </div>
</div>