
  <div class="row trustpilot" style="align-items: center;">
    <div class="col-3">
      <img src="assets/images/trustpilot_icon.webp"  width="200px">
      <img src="/assets/images/trust-pilot-rating.webp" width="200px">
      <div class="score">
        <p class="trust-score">Trust Score:<strong>4.6</strong></p>
        <p class="reviews"><strong>145</strong>reviews</p>
      </div>
    </div>
    <div class="col-3 coffee">
      <img src="/assets/images/Screenshot 2024-05-01 201459.png" width="200px">
    </div>
  </div>
